body{
    background-color: #373640;
}
.judul{
    color : #a7d129;
}
.status h4{
    color: #7e97a6;
}
.status p,h2{
    color : #63686e;
}

label{
    display : none !important;
}

#submit{
    background-color: #a7d129 ;
    color : #373640;
    font-weight: 700;
}