{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Story 6</title>
</head>
<body>
    <div class = judul>
        <h1>Apa kabar?</h1>
    </div>
    
    <form method = "POST">
        {% csrf_token %}
        {{form}}
        <input id="submit" type="submit" value="Submit">
    </form>
    <div class = status>
        {% for obj in posts %}
            <h4>{{ obj.message }}</h4>
            <p>Diposting pada {{ obj.date }}<p>
            <h2>-----------------------------</h2>
            <br>
        {% endfor %}
    </div>

</body>
</html>